/*styles*/

body {
	background-color: pink;
	color: white;
}

h1 {
	font-family: Arial;
	text-decoration: underline;
}

img {
	width: 15%; 
	height: 15%;
}

a {
	text-decoration: none;
}

ul li {
	list-style-type: none;
}
